<div class="masthead">
  <div class="container">
    <nav class="nav">
      <%= link_to t('nav.home'), feed_path, class: 'nav-item' %>
      <%= link_to t('nav.sign_out'), destroy_user_session_path, class: 'nav-item', method: :delete %>
    </nav>
  </div>
</div>