<h1 class="cover-heading">Welcome</h1>
<p class="lead">To the anti-social network! It was designed to be a more functional, useful, productive, secure and non-addictive experience. No more meaningless friendships, forced interactions and unnecessary conversations.</p>
<p class="lead">
  <%= link_to 'Sign-in', new_user_session_path, class: "btn btn-lg btn-default", accesskey: "i" %></br>
  <span class="legend">or press alt+i</span>
</p>
